.circle-of-fifths-outer {
    background-color: grey ;
    border-radius: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10%;
    border: 5px solid black;
  }
  
  .circle-of-fifths-inner {
    background-color: rgb(172, 171, 171) ;
    border-radius: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid black;
  }
  
  .circle-of-fifths-center {
    background-color: rgb(255, 255, 255) ;
    border-radius: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid black;
  
    font-size: 25px;
  }